body {
    text-align: center;
    background-color: #bbb;
}

.states-bar {
  margin-bottom: -40px;
}

#startButton {
  position: absolute;
  top: 30em;
}

#retryButton {
  position:absolute;
  top: 30em;
  display: none;
}

#stats {
  position: absolute;
  top: 22em;
  left: 35em;
  display: none;
}
